body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../css/img/textura.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté centrado y el footer abajo */
}

.construction-container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    color: #fceac6;
    margin-top: 20px;
}

/* Reducir el tamaño del logo */
.construction-container .logo {
    max-width: 30%; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;
}

/* Reducir el tamaño de la imagen trabajando.jpg */
.construction-container .trabajando-img {
    max-width: 35%; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 20px;
}

.construction-container p {
    color: #fceac6;
    font-size: 1.5rem;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .construction-container p {
        font-size: 1.2rem;
    }

    .construction-container .logo {
        max-width: 50%; /* Ajustar el tamaño del logo en pantallas más pequeñas */
    }

    .construction-container .trabajando-img {
        max-width: 70%; /* Ajustar el tamaño de la imagen en pantallas más pequeñas */
    }
}

/*--FOOTER--*/
.site-footer {
    background-color: #253245;
    color: #fceac6;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.site-footer p {
    margin: 0;
    font-size: 14px;
}

/*--LANGUAGE--*/
/* Estilos para el hipervínculo en la esquina superior derecha */
.language-switch {
    position: absolute;
    right: 10px;  /* Ajusta la distancia desde la parte derecha */
    font-size: 14px;  /* Tamaño de texto */
    font-family: 'Inter', sans-serif;
}

.language-switch a {
    color: #fceac6;  /* Color del texto */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.language-switch a:hover {
    text-decoration: underline;  /* Subraya el texto al pasar el cursor */
}

.flag-icon {
    width: 20px;  /* Tamaño del ícono de la bandera */
    height: 20px;
    border-radius: 50%;  /* Hace que la imagen tenga forma circular */
    margin-left: 8px;  /* Añade espacio entre el texto y la bandera */
}